# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

asyncio
matplotlib
numpy
oandapyV20
pandas
pyTelegramBotAPI
python-dateutil
requests
schedule
scipy
simplejson
statsmodels
